/* // Variables
$head_bg_color: white;
$content_bg_color: #1c1c1c;
$products_bg_color: #0282f9;
$flink_bg_color: white;
$fsocial_bg_color: #303030; */

//Palette
//Sfondo: background-color: rgb(3, 35, 54);
//Footer: background-color: rgb(11, 55, 81);
//Scritte Arancioni: color: orange;
//Titoli bianchi
//Sottotitoli color: rgb(79, 149, 189);
//Paragrafi color: rgb(141, 189, 218);
//Mokujin: background-color: rgb(57, 68, 117);
